// ===== FONT GOOGLE =====
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Syne:wght@400;500;600;700&display=swap");

// ===== VARIABLE SCSS CLASS =====
// header height
$header-height: 6rem;

// color palette
$black-color: #12161c;
$grey-color: #70747e;
$white-color: #ffffff;
$red-color: #f43631;
$orange-color: #ff7a00;

// font global
$font-title: "Syne", sans-serif;
$font-text: "Poppins", sans-serif;

// font weight
$font-reguler: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;

// margin
$margin-0-5: 0.5rem;
$margin-1: 1rem;
$margin-1-5: 1.5rem;
$margin-2: 2rem;
$margin-2-5: 2.5rem;
$margin-3: 3rem;
$margin-3-5: 3.5rem;
$margin-4: 4rem;

// z-index
$z-back: -10;
$z-normal: 1;
$z-tooltip: 10;
$z-fixed: 100;

// transition
$transition-400: 0.4s;

// line-height
$leading-title: 130%;
$leading-text: 180%;

// ===== RESET & BASE =====
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-text;
  font-weight: $font-reguler;
  letter-spacing: -0.9px;
}

ul,
a {
  list-style: none;
  text-decoration: dashed;
}

input,
button {
  font-family: $font-title;
  font-weight: $font-bold;
  outline: none;
  border: none;
}

img {
  max-width: 100%;
  height: auto;
}

// ===== REUSABLE SCSS CLASS =====
.section {
  padding: 8rem 0 4rem;

  &-subtitle {
    font-size: 15px;
    font-family: $font-title;
    font-weight: $font-bold;
    text-transform: uppercase;
    color: $grey-color;
    letter-spacing: 2px;
    margin-bottom: $margin-1;
  }

  &-title {
    font-size: 36px;
    font-family: $font-title;
    font-weight: $font-bold;
    color: $black-color;
    line-height: $leading-title;
    margin-bottom: $margin-1-5;
  }

  &-text {
    font-size: 15px;
    font-family: $font-text;
    font-weight: $font-medium;
    color: $grey-color;
    line-height: $leading-text;
    margin-bottom: $margin-2;
  }
}

.button {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  background-color: $black-color;
  font-size: 15px;
  font-family: $font-title;
  font-weight: $font-bold;
  color: $white-color;
}

.container {
  max-width: 1120px;
  width: calc(100% - 3rem);
  margin: 0 $margin-1-5;
}

.grid {
  display: grid;
}

.main {
  overflow: hidden;
}

// ===== HEADER SECTION =====
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: $white-color;
  z-index: $z-fixed;
  transition: $transition-400;

  &__container {
    height: $header-height;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    width: 50px;
  }

  &__menu {
    @media screen and (max-width: 767px) {
      position: fixed;
      width: 80%;
      top: 7rem;
      left: 0;
      right: 0;
      margin: 0 auto;
      text-align: center;
      padding: 2rem;
      background-color: #1f232b;
      transition: $transition-400;
      opacity: 0;
      transform: scaleY(0);
      transform-origin: 0% 0%;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  &__link {
    position: relative;
    font-size: 15px;
    font-family: $font-title;
    font-weight: $font-semibold;
    color: $white-color;

    &::after {
      position: absolute;
      content: "";
      top: 1.3rem;
      left: 0;
      width: 0;
      height: 2px;
      background-color: $white-color;
      transition: $transition-400;
    }

    &:hover::after {
      width: 100%;
    }
  }

  &__button {
    background-color: $orange-color;
    margin-top: 1.5rem;
  }

  &__toggle {
    display: inline-flex;
    font-size: 1.5rem;
    color: $black-color;
    cursor: pointer;
  }

  // show menu
  .show-menu {
    opacity: 1;
    transform: scaleY(1);
  }

  // sticky header
  &.sticky-action {
    box-shadow: 0 2px 12px rgba($color: #000000, $alpha: 0.1);
  }
}

// ===== HOME SECTION =====
.home {
  &__container {
    gap: 3rem;
  }

  &__title {
    font-size: 60px;
    line-height: 100%;
    margin-bottom: $margin-2;
  }

  &__data,
  &__img {
    text-align: center;
    justify-self: center;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &-touch {
      background-color: $orange-color;
    }
  }
}

// ===== ABOUT SECTION =====
.about {
  &__container {
    gap: 3rem;
  }

  &__data {
    text-align: center;
    justify-self: center;
  }

  &__group {
    display: grid;
    justify-self: center;
    gap: 2rem;
  }

  &__content {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    justify-items: flex-end;
    align-items: flex-start;
    gap: 2rem;

    &-number,
    &-title {
      font-size: 36px;
      font-family: $font-title;
      font-weight: $font-bold;
      color: $black-color;
      line-height: $leading-title;
    }

    &-title {
      font-size: 24px;
      margin-bottom: $margin-1;
    }

    &-text {
      font-size: 15px;
      font-weight: $font-medium;
      color: $grey-color;
      line-height: $leading-text;
    }
  }
}

// ===== PARTNER SECTION =====
.partner {
  &__container {
    gap: 1rem;
  }

  &__data {
    text-align: center;
    justify-self: center;
  }

  &__group {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    justify-self: center;
    align-items: center;
    gap: 3.5rem 2.5rem;
  }

  &__img {
    width: 130px;
    filter: invert(0.7);
    transition: $transition-400;

    &:hover {
      filter: invert(0);
    }
  }
}

// ===== OFFER SECTION =====
.offer {
  &__container {
    gap: 1.5rem;
  }

  &__data {
    text-align: center;
    justify-self: center;
  }

  &__group {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 0.9fr));
    justify-content: center;
    gap: 3rem;
  }

  &__content {
    position: relative;
    border-bottom: 2px solid rgba($color: #70747e, $alpha: 0.3);

    &::before {
      position: absolute;
      content: "";
      bottom: -2px;
      left: 0;
      width: 0;
      height: 2px;
      background-color: $black-color;
      transition: $transition-400 0.1s;
    }

    &:hover {
      & .offer__content-img {
        transform: scale(1.1);
      }

      &::before {
        width: 100%;
      }
    }

    &-overlay {
      height: 230px;
      overflow: hidden;
    }

    &-img {
      width: 100%;
      height: 100%;
      transition: $transition-400;
    }

    &-data {
      padding: 1.5rem 0;
    }

    &-title {
      font-size: 24px;
      font-family: $font-title;
      font-weight: $font-bold;
      color: $black-color;
    }
  }
}

// ===== PORTFOLIO SECTION =====
.portfolio {
  &__group {
    display: grid;
    grid-template-columns: 0.9fr;
    justify-content: center;
    gap: 6rem;
  }

  &__content {
    display: grid;
    justify-self: center;
    gap: 3rem;

    &-title {
      font-size: 24px;
    }

    &-button {
      display: inline-flex;
      align-items: flex-start;
      gap: 0.5rem;
      font-size: 15px;
      font-family: $font-title;
      font-weight: $font-semibold;
      color: $black-color;

      &:hover .portfolio__content-icon {
        transform: translateX(5px);
      }
    }

    &-icon {
      display: inline-flex;
      font-size: 1.3rem;
      transition: $transition-400;
    }
  }
}

// ===== TESTIMONIAL SECTION =====
.testimonial {
  &__bg {
    padding: 5rem 0;
    background-color: #1f232b;
  }

  &__data {
    text-align: center;
    justify-self: center;
    margin: 0 auto;
  }

  &__subtitle,
  &__title {
    color: $white-color;
  }

  &__content {
    display: grid;
    gap: 3rem;
    padding: 3rem 2rem;
    background-color: $white-color;
    transition: $transition-400;

    &-comment {
      font-size: 15px;
      font-weight: $font-medium;
      color: $grey-color;
      line-height: $leading-text;
    }

    &-profile {
      display: flex;
      align-items: center;
      gap: 0.8rem;
    }

    &-img {
      width: 55px;
    }

    &-name {
      font-size: 18px;
      font-family: $font-title;
      font-weight: $font-bold;
      color: $black-color;
      margin-bottom: $margin-0-5;
    }

    &-profession {
      font-size: 14px;
      font-weight: $font-medium;
      color: $grey-color;
    }

    // swiper active
    &.swiper-slide-active {
      box-shadow: 13px 13px 0 $orange-color;
    }
  }

  .swiper-wrapper {
    padding: 1rem 0 3rem;
  }

  // swiper pagination
  &__container {
    overflow: hidden;

    & .swiper-pagination {
      position: initial;
    }

    & .swiper-pagination-bullet {
      width: 10px;
      height: 10px;
      background-color: rgba($color: #ffffff, $alpha: 0.8);
      transition: $transition-400;
    }

    & .swiper-pagination-bullet-active {
      width: 2rem;
      height: 10px;
      background-color: $orange-color;
      border-radius: 5rem;
    }
  }
}

// ===== BLOG SECTION =====
.blog {
  &__container {
    gap: 1.5rem;
  }

  &__data {
    text-align: center;
    justify-self: center;
  }

  &__content {
    display: grid;
    text-align: center;
    gap: 3rem;

    &-img,
    &-data {
      justify-self: center;
    }

    &-title {
      font-size: 24px;
      font-family: $font-title;
      font-weight: $font-bold;
      color: $black-color;
      line-height: $leading-title;
      margin-bottom: $margin-1-5;
    }

    &-button {
      display: inline-flex;
      align-items: flex-start;
      gap: 0.5rem;
      font-size: 15px;
      font-family: $font-title;
      font-weight: $font-semibold;
      color: $black-color;

      &:hover .blog__content-icon {
        transform: translateX(5px);
      }
    }

    &-icon {
      display: inline-flex;
      font-size: 1.3rem;
      transition: $transition-400;
    }
  }
}

// ===== CONTACT SECTION =====
.contact {
  &__data,
  &__button {
    text-align: center;
    justify-self: center;
  }

  &__button {
    background-color: $orange-color;
  }
}

// ===== FOOTER SECTION =====
.footer {
  padding-top: 8rem;

  &__bg {
    padding: 5rem 0 2rem;
    background-color: #1f232b;
  }

  &__container {
    gap: 6rem;
  }

  &__title {
    color: $white-color;
    margin-bottom: $margin-2;
  }

  &__group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    gap: 2rem;
    border-top: 2px solid rgba($color: #ffffff, $alpha: 0.3);
    border-bottom: 2px solid rgba($color: #ffffff, $alpha: 0.3);
  }

  &__list {
    display: inline-flex;
    align-items: center;
    gap: 1.5rem;
  }

  &__list:nth-child(2) {
    gap: 1rem;
  }

  &__link {
    position: relative;
    font-size: 15px;
    font-family: $font-title;
    font-weight: $font-semibold;
    color: $white-color;

    &::after {
      position: absolute;
      content: "";
      top: 1.3rem;
      left: 0;
      width: 0;
      height: 2px;
      background-color: $white-color;
      transition: $transition-400;
    }

    &:hover::after {
      width: 100%;
    }
  }

  &__sosmed {
    width: 45px;
    height: 45px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: transparent;
    border: 2px solid rgba($color: #ffffff, $alpha: 0.3);
    border-radius: 50%;
    font-size: 1.5rem;
    color: $white-color;
    transition: $transition-400;

    &:hover {
      background-color: $white-color;
      color: $orange-color;
    }
  }

  &__copy {
    padding-top: 2rem;
    border-top: 2px solid rgba($color: #ffffff, $alpha: 0.3);
    text-align: center;
    font-size: 15px;
    font-weight: $font-medium;
    color: $white-color;
    line-height: $leading-text;
  }
}

// ===== SCROLLUP SECTION =====
.scrollup {
  position: fixed;
  right: 1.5rem;
  bottom: -100%;
  width: 45px;
  height: 45px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: $black-color;
  font-size: 1.5rem;
  color: $white-color;
  transition: $transition-400;
  z-index: $z-tooltip;

  &:hover {
    background-color: $orange-color;
  }

  // scroll action
  &.scroll-action {
    bottom: 3rem;
  }
}

// ===== MEDIA QUERIES =====
// width 480px
@media screen and (min-width: 480px) {
  .home__data,
  .about__data,
  .about__group,
  .partner__data,
  .offer__data,
  .portfolio__content-data,
  .testimonial__data,
  .blog__data,
  .blog__content-data,
  .contact__data {
    width: 400px;
  }

  .home__img,
  .portfolio__content-img,
  .blog__content-img {
    width: 400px;
  }
}

// width 640px
@media screen and (min-width: 640px) {
  .home__data,
  .about__data,
  .about__group,
  .partner__data,
  .offer__data,
  .portfolio__content-data,
  .testimonial__data,
  .blog__data,
  .blog__content-data,
  .contact__data {
    width: 500px;
  }

  .home__img,
  .portfolio__content-img,
  .blog__content-img {
    width: 500px;
  }

  .home__buttons {
    flex-direction: row;
    justify-content: center;
  }

  .partner__group {
    grid-template-columns: repeat(3, max-content);
  }

  .offer__content-overlay {
    height: 280px;
  }
}

// width 767px
@media screen and (min-width: 767px) {
  .header {
    &__menu {
      display: flex;
      align-items: center;
      gap: 1.5rem;
    }

    &__list {
      flex-direction: row;
    }

    &__link {
      color: $black-color;

      &::after {
        background-color: $black-color;
      }
    }

    &__button {
      margin-top: 0;
    }

    &__toggle {
      display: none;
    }
  }
}

// width 968px
@media screen and (min-width: 968px) {
  .header {
    &__container {
      position: relative;
    }

    &__list {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      gap: 2rem;
    }
  }

  .home {
    &__container {
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
    }

    &__data,
    &__img {
      width: auto;
    }

    &__data {
      text-align: left;
      justify-self: left;
    }

    &__title {
      font-size: 64px;
    }

    &__buttons {
      justify-content: left;
    }
  }

  .about {
    &__container {
      grid-template-columns: repeat(2, 1fr);
      align-items: flex-start;
    }

    &__data,
    &__group {
      width: auto;
    }

    &__data {
      text-align: left;
      justify-self: left;
    }

    &__button {
      display: inline-flex;
    }

    &__content {
      grid-template-columns: 0.4fr 1fr;
    }
  }

  .partner {
    &__container {
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      gap: 3rem;
    }

    &__data {
      width: auto;
      text-align: left;
      justify-self: left;
    }

    &__text {
      margin-bottom: 0;
    }
  }

  .offer__data {
    width: auto;
  }

  .portfolio {
    &__group {
      grid-template-columns: 1fr;
    }

    &__content {
      grid-template-columns: 1fr 0.8fr;
      align-items: center;
    }

    &__content-data,
    &__content-img {
      width: auto;
    }
  }

  .blog {
    &__data,
    &__content-data {
      text-align: left;
      justify-self: left;
    }

    &__content {
      grid-template-columns: 1fr 0.8fr;
      align-items: center;

      &-img,
      &-data {
        width: auto;
      }
    }
  }

  .contact__data {
    width: 700px;
  }

  .footer {
    &__title {
      width: 600px;
    }

    &__group {
      justify-content: space-between;
    }
  }
}

// width 1120px
@media screen and (min-width: 1120px) {
  .container {
    margin: 0 auto;
  }

  .section-title,
  .about__content-number {
    font-size: 50px;
  }

  .home__title {
    font-size: 80px;
  }

  .partner {
    &__text {
      width: 430px;
    }

    &__img {
      width: 150px;
    }
  }

  .offer__content-title {
    font-size: 28px;
  }

  .about {
    &__content-title {
      font-size: 28px;
    }

    &__text {
      width: 430px;
    }
  }

  .portfolio {
    &__content {
      grid-template-columns: 1fr 0.7fr;
    }

    &__content-title {
      font-size: 28px;
    }
  }

  .blog {
    &__data {
      width: 700px;
    }

    &__content {
      grid-template-columns: 1fr 0.7fr;
    }

    &__content-title {
      font-size: 28px;
    }
  }

  .contact__data,
  .footer__title {
    width: 900px;
  }
}

// ===== ::SELECTION =====
::selection {
  background-color: rgba($color: #ff7a00, $alpha: 0.8);
  color: $white-color;
}
